body {
    background-color: #343a40; /* Color celeste */
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.card-body p {
    font-size: 1rem;
    color: #333;
}

.img-fluid {
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
}